@font-face {
    font-family: 'EksellDisplay';
    src: url('../fonts/EksellDisplayMedium.otf');
    // src: url('../font/fontello.eot?84372502#iefix') format('embedded-opentype'),
    // url('../font/fontello.woff2?84372502') format('woff2'),
    // url('../font/fontello.woff?84372502') format('woff'),
    // url('../font/fontello.ttf?84372502') format('truetype'),
    // url('../font/fontello.svg?84372502#fontello') format('svg');
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: 'Eksell';
    src: url('../fonts/EksellDisplayMedium.otf');
    // src: url('../font/fontello.eot?84372502#iefix') format('embedded-opentype'),
    // url('../font/fontello.woff2?84372502') format('woff2'),
    // url('../font/fontello.woff?84372502') format('woff'),
    // url('../font/fontello.ttf?84372502') format('truetype'),
    // url('../font/fontello.svg?84372502#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EksellDisplay';
    src: url('../fonts/EksellDisplayLarge.otf');
    // src: url('../font/fontello.eot?84372502#iefix') format('embedded-opentype'),
    // url('../font/fontello.woff2?84372502') format('woff2'),
    // url('../font/fontello.woff?84372502') format('woff'),
    // url('../font/fontello.ttf?84372502') format('truetype'),
    // url('../font/fontello.svg?84372502#fontello') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'EksellDisplay';
    src: url('../fonts/EksellDisplaySmall.otf');
    // src: url('../font/fontello.eot?84372502#iefix') format('embedded-opentype'),
    // url('../font/fontello.woff2?84372502') format('woff2'),
    // url('../font/fontello.woff?84372502') format('woff'),
    // url('../font/fontello.ttf?84372502') format('truetype'),
    // url('../font/fontello.svg?84372502#fontello') format('svg');
    font-weight: lighter;
    font-style: normal;
}

// @font-face {
//     font-family: 'Okomito';
//     src: url('../fonts/Okomito-Regular.otf');
//     // src: url('../font/fontello.eot?84372502#iefix') format('embedded-opentype'),
//     // url('../font/fontello.woff2?84372502') format('woff2'),
//     // url('../font/fontello.woff?84372502') format('woff'),
//     // url('../font/fontello.ttf?84372502') format('truetype'),
//     // url('../font/fontello.svg?84372502#fontello') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Okomito';
//     src: url('../fonts/Okomito-Black.otf');
//     // src: url('../font/fontello.eot?84372502#iefix') format('embedded-opentype'),
//     // url('../font/fontello.woff2?84372502') format('woff2'),
//     // url('../font/fontello.woff?84372502') format('woff'),
//     // url('../font/fontello.ttf?84372502') format('truetype'),
//     // url('../font/fontello.svg?84372502#fontello') format('svg');
//     font-weight: black;
//     font-style: normal;
// }

@font-face {
    font-family: 'Okomito';
    src: url('../fonts/Okomito-Bold.otf');
    // src: url('../font/fontello.eot?84372502#iefix') format('embedded-opentype'),
    // url('../font/fontello.woff2?84372502') format('woff2'),
    // url('../font/fontello.woff?84372502') format('woff'),
    // url('../font/fontello.ttf?84372502') format('truetype'),
    // url('../font/fontello.svg?84372502#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Okomito';
    src: url('../fonts/Okomito-Light.otf');
    // src: url('../font/fontello.eot?84372502#iefix') format('embedded-opentype'),
    // url('../font/fontello.woff2?84372502') format('woff2'),
    // url('../font/fontello.woff?84372502') format('woff'),
    // url('../font/fontello.ttf?84372502') format('truetype'),
    // url('../font/fontello.svg?84372502#fontello') format('svg');
    font-weight: lighter;
    font-style: normal;
}